# we get a "missing context" error from v3+
Flask==2.3.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.52

alembic
aniso8601
bcrypt
certifi
cffi
chardet
Click
Flask-Bcrypt
Flask-Caching
Flask-Login
Flask-RESTful
Flask-Script
Flask-WTF
gunicorn
htmlmin
idna
itsdangerous
Jinja2
jsmin
Mako
MarkupSafe
Pillow
pycparser
python-dateutil
python-editor
pytz
requests
six
urllib3
Werkzeug
WTForms
transmissionrpc
markdown2
